.videoVolume {
    width: 120px;
    height: 100%;
    display: flex;
}

.rangeVolumeContainer {
    display: flex;
    width: 0px;
    height: 100%;
    transition: width 0.15s;
    position: relative;
    margin-left: 6.5px;
}

.videoVolume:hover .rangeVolumeContainer {
    width: 60px;
}

.rangeVolume {
    background: linear-gradient(to right, #fff 100%, rgba(255, 255, 255, .2) 0%);
    cursor: pointer;
    height: 4px;
    margin: 0;
    transition: 0.1s ease-in;
    width: 100%;
    border: 0;
    align-self: center;
    -webkit-appearance: none;
}

.rangeVolume:focus {
    outline: none;
}

.rangeVolume::-webkit-slider-thumb {
    background-color: transparent;
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 100%;
    -webkit-appearance: none;
}

.rangeVolumeThumb {
    background-color: transparent;
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 5.5px);
    left: 0;
    pointer-events: none;
}

.videoVolume:hover .rangeVolumeThumb {
    background-color: #fff !important;
}

.videoVolume:hover .rangeVolume {
    min-width: 14px;
}

.icon {
    width: 22px;
    height: 22px;
    fill: #e6e6e6;
}